@model IEnumerable<HelpFinal.Models.Contact>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContactId" class="btn btn-success">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ContactId" class="btn btn-default">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ContactId" class="btn btn-danger">Delete</a> |
                <a asp-action="SoftDelete" asp-route-id="@item.ContactId" class="btn btn-warning">Soft Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
