@model IEnumerable<Event>


<!-- Event Start -->
<div class="event">
    <div class="container">
        <div class="section-header text-center">
            <p>Upcoming Events</p>
            <h2>Be ready for our upcoming charity events</h2>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-6">
                    <div class="event-item">
                        <img src="@Url.Content(item.EventImg)" alt="Image">
                        <div class="event-content">
                            <div class="event-meta">
                                <p><i class="fa fa-calendar-alt"></i>@item.Date.ToShortDateString()</p>
                                <p><i class="far fa-clock"></i>@item.Time.ToString("hh:mm")</p>
                                <p><i class="fa fa-map-marker-alt"></i>@item.EventLocation</p>
                            </div>
                            <div class="event-text">
                                <h3>@item.EventTitle</h3>
                                <p>
                                    @item.EventDesc
                                </p>
                                <a class="btn btn-custom" asp-action="" asp-controller="">@item.TxtLink</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
</div>
<!-- Event End -->
