@model IEnumerable<HelpFinal.Models.UsersVolunteer>

@{
    ViewData["Title"] = "Index";
}

<div class="causes">
    <div class="container">
        <div class="section-header text-center">
            <p>Profile</p>
            <h2>Let's know about you around the world</h2>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.StudentId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Skills)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Skills)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
       @* <div class="owl-carousel causes-carousel">
            @foreach (var item in Model)
            {
                <div class="causes-item">
                    <div class="causes-text">
                        <h3>@item.StudentId</h3>
                        <p> @item.Name</p>
                        <p> @item.Email</p>
                        <p> @item.Phone</p>
                        <p> @item.Skills</p>

                    </div>
                    <div class="causes-btn">
                        <a class="btn btn-custom" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-custom" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </div>
                </div>
            }

        </div>*@
    </div>
</div>



