@model HelpFinal.Models.Request

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Desc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Uni)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Uni)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TxtLink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TxtLink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TxtLink2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TxtLink2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPublished)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RequestId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
