@model IEnumerable<HelpFinal.Models.Slider>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SliderTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SliderSubTitle)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.SliderImg)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SliderTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SliderSubTitle)
            </td>
            
            <td>
                <img width="150px" src="@Url.Content(item.SliderImg)">
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.SliderId" class="btn btn-success">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SliderId" class="btn btn-default" >Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SliderId" class="btn btn-danger">Delete</a> |
                    <a asp-action="SoftDelete" asp-route-id="@item.SliderId" class="btn btn-warning">Soft Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
