@model IEnumerable<HelpFinal.Models.Testimonial>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestimonialName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Collage)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TestimonialName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Collage)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.TestimonialId" class="btn btn-success">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TestimonialId" class="btn btn-default">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TestimonialId" class="btn btn-danger">Delete</a> |
                    <a asp-action="SoftDelete" asp-route-id="@item.TestimonialId" class="btn btn-warning">Soft Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
