@model IEnumerable<HelpFinal.Models.About>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.AboutUs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.AboutUs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
           
            <td>
                    <a asp-action="Edit" asp-route-id="@item.AboutId" class="btn btn-success">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AboutId" class="btn btn-default">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AboutId" class="btn btn-danger">Delete</a> | 
                    <a asp-action="SoftDelete" asp-route-id="@item.AboutId" class="btn btn-warning">SoftDelete</a>
            </td>
        </tr>
}
    </tbody>
</table>
